<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img id='avatar' src="https://login.weixin.qq.com/qrcode/{{ qcode }}">
    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        $(function () {     //框架加载完执行
            checkLogin();
        });
        function checkLogin() {
            $.ajax({
                url:'/check-login.html',
                type:'GET',
                dataType:'JSON',
                success:function (arg) {
                    if (arg.code == 408){
                        checkLogin()    //长轮询
                    }else if(arg.code == 201){
                        $('#avatar').attr('src',arg.data);
                        checkLogin()                //再发请求，是否点确认
                    }else if (arg.code==200){
                        location.href='/user.html'
                    }
                }
            })
        }
    </script>
</body>
</html>